<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <!-- <ion-item>
    <ion-avatar slot="start">
      <img src="./assets/images/0.jpg">    </ion-avatar>
    <ion-label>Mohamed Attia</ion-label>
  </ion-item>-->

  <ion-list> 
  <ion-item class="item ios in-list ion-focusable item-label hydrated">
    <ion-avatar slot="start" class="ios hydrated">
      <img src="./assets/images/0.jpg">
    </ion-avatar>      
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>Mohamed Attia</h2>
      <h3>Seniore Front-End Developer</h3>
    </ion-label>
  </ion-item>

  <ion-item class="item ios in-list ion-focusable item-label hydrated">
    <ion-avatar slot="start" class="ios hydrated">
      <img src="./assets/images/linkedin.jpg">
    </ion-avatar>      
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>LinkedIn Profile</h2>
      <h3><a href="https://www.linkedin.com/in/m7md3ttia/" target="_blank">LinkedIn</a></h3>
    </ion-label>
  </ion-item>

  <ion-item class="item ios in-list ion-focusable item-label hydrated">
    <ion-avatar slot="start" class="ios hydrated">
      <img src="./assets/images/github.jpg">
    </ion-avatar>      
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>GitHub Profile</h2>
      <h3><a href="https://github.com/mohamed-attia" target="_blank">GitHub</a></h3>
    </ion-label>
  </ion-item>

  <ion-item class="item ios in-list ion-focusable item-label hydrated">
    <ion-avatar slot="start" class="ios hydrated">
      <img src="./assets/images/behance.jpg">
    </ion-avatar>      
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>Behance Profile</h2>
      <h3><a href="https://github.com/mohamed-attia" target="_blank">Behance</a></h3>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
