<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Skills
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Item with badge on left and right -->
<ion-item>
  <ion-label>HTML</ion-label>
</ion-item>
<ion-item>
  <ion-label>CSS</ion-label>
</ion-item>
<ion-item>
  <ion-label>JavaScript</ion-label>
</ion-item>
<ion-item>
  <ion-label>Jquery</ion-label>
</ion-item>
<ion-item>
  <ion-label>Angular2+</ion-label>
</ion-item>
<ion-item>
  <ion-label>ReactJs</ion-label>
</ion-item>
<ion-item>
  <ion-label>ReactJs</ion-label>
</ion-item>
<ion-item>
  <ion-label>BootStrap</ion-label>
</ion-item>
<ion-item>
  <ion-label>PrimeNg</ion-label>
</ion-item>
<ion-item>
  <ion-label>Git</ion-label>
</ion-item>
<ion-item>
  <ion-label>TFS</ion-label>
</ion-item>
<ion-item>
  <ion-label>Unit Testing</ion-label>
</ion-item>
<ion-item>
  <ion-label>PhotoShop</ion-label>
</ion-item>
<ion-item>
  <ion-label>Firebase</ion-label>
</ion-item>
</ion-content>
